Source: turnkey-pylib
Section: python
Priority: optional
Maintainer: Alon Swartz <alon@turnkeylinux.org>
Build-Depends: debhelper (>> 4.2.0)
Build-Depends-Indep: python-all, python-support (>= 0.4)
Standards-Version: 3.9.3

Package: turnkey-pylib
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Suggests: python-profiler
Description: TurnKey Linux standard Python library

